python
pandas
scikit-learn
ipython
ipykernel
ipywidgets
statsmodels
seaborn
spacy
nltk
beautifulsoup4
pandas-datareader
xlrd
openpyxl
twython
sqlalchemy
pandasql
pymongo
nbformat
plotly
pillow
pyarrow
flask
mlxtend
imbalanced-learn
