<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
</head>
<body>
<h1>{{name}}</h1>
<form method="POST" action="/Search_Supplier">
<p><input type="text" name="supplier_id"> <input type="submit" value="Search"></p>
<p><input type="radio" name="option" value = "Supplier id"> Supplier id
<input type="radio" name="option" value = "company name"> Company name<p>
</form>

{% import "table.html" as T %}
{{ T.make_table(tophat) }}
<p><a href="/Back">Back</a></p>

    
</body>
</html>